#chart-hist-production .axis.x .tick text {
    text-anchor: end;
    font-size: 14px; 
    transform: rotate(-60deg) translate(-10px,-12px);
  }

.dc-chart { 
    font-size: 16px; 
  }

.dc-table-head{
    font-position: center;
    font-size: 16px; 
    font-weight: bold; 
  }

.dc-table-column { 
    font-position: center;
    padding-left: 20px; 
    padding-right: 20px
    font-size: 14px; 
    font-weight: normal; 
  }