.login-form,
.register-form {
  width: 100%;
  background: #f5f5f5;
  min-height: auto;
  padding-bottom: 0;
}

.login-form .form-outer,
.register-form .form-outer {
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.login-form .form-inner,
.register-form .form-inner {
  padding: 40px 30px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-label {
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.easy-autocomplete {
    width: auto !important;
}

/* ====== CARDS ====== */

.card {
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  border-width: 1px solid;
  transition: all .2s;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  min-height: 3rem;
  border-bottom: 1px solid rgba(0,0,0,.07);
  border-radius: 4px 4px 0 0;
  background-color: initial;
}

.card-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: right;
}

.card-footer {
  background-color: initial;
}

.card-header .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
}

.card-header .nav {
    width: auto;
    margin-left: auto;
}

.dropdown_arrow_up {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
  margin: 0 0 15px 0;
  position: absolute;
  top: -9px;
  right: 5px;
}

.dashboard_profile_menu {
  border-top: 1px dotted #b4bdce;
}

.dashboard_popup_container {
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.dashboard_profile_avatar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  line-height: 0;
}

.dashboard_profile_avatar {
  width: 82px;
  height: 82px;
}

#dashboard_account {
  cursor: pointer;
}

#navbar_search_container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#navbar_search_input {
  color: white;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: transparent;
  box-shadow: none;
  border: 0;
}

#navbar-button {
  outline: none;
}

.ui-select-choices {
  position: fixed;
  top: auto;
  left: auto;
  width: inherit;
}